body {
    background-color: white;
    color: black;
    display: grid;
    grid-template-rows: 10% auto 20%;
    height: 100vh;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-radius: 8px;*/
    /*border: 1px solid black;*/
    width: 98%;
    height: 100%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 0 ;
    
}
.hamburger{
    cursor: pointer;
    font-size: 30px;
}

.nav-menu{
    display: none;
}

.nav-menu.activate{
    display: block;
}
.nav-menu ul{
    list-style: none;
    padding: 5;
}

.nav-menu ul li {
    margin: 40px 0;
}

.nav-menu ul li a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium ;
    color: black;
}

h1{
    font-family:'Times New Roman', Times, serif;
    font-weight:200;
    margin: auto;
}

#gitIcon{
    margin-left: 0px ;
    margin-right: 10px;
}

main{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    /*border: 1px black solid;*/
    display: grid;
    grid-template-columns: 10% 90%;
}

.second-column-body{
    margin-right: 12%;
    grid-column: 2;
    text-align: center;
    /*border: 1px solid black;*/
    width: 100%;
    height: 100%;
}
.second-column-body div{
    margin-right: 12%;
}

.second-column-body div:first-child{
    height: 40%;
}

.second-column-body h2{
    font-weight: 200;
}

#result{
    /*border: 1px solid black;*/
    height: 50%;
}

footer{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    height: 100%;
    width: 98%;
    border-top: 1px solid;
}
#Copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
#socialmedia{
    text-align: start;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#socialmedia a {
    display: block;
    margin: 10px;
}
#socialmedia h3{
    font-family:'Times New Roman', Times, serif;
    font-weight:200;
}