body {
    background-color: #DCE1E9;
    color: black;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    height: 100vh;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid black;
    width: 98%;
    height: 50%;
    margin: auto;
    
}
h1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:600;
    margin: auto;
}

#gitIcon{
    margin-left: 0px ;
    margin-right: 10px;
}

main{
    margin: auto;
    height: 100%;
    width: 98%;
}
footer{
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    border-top: 2px solid black;
    margin: auto;
    height: 100%;
    width: 98%;
}