body {
    background-color: white;
    color: black;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    height: 100vh;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 98%;
    height: 40%;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px ;
    
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-weight:200;
    margin: auto;
}

#gitIcon{
    margin-left: 0px ;
    margin-right: 10px;
}

main{
    margin: auto;
    height: 100%;
    width: 98%;
}
footer{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    height: 100%;
    width: 98%;
    border-top: 1px solid;
}
#Copyright{
    display: flex;
    justify-content: center;
    align-items: center;
}
#socialmedia{
    text-align: start;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#socialmedia a {
    display: block;
    margin: 10px;
}
#socialmedia h3{
    font-family:'Times New Roman', Times, serif;
    font-weight:200;
}